<div class="d-flex justify-content-center align-items-center">
  <mdb-card class="w-100 mt-5 p-5 text-center">
    <p class="h4 mb-4">Text-to-Speech converter</p>

    <p class="mb-4">Convert text files or text to speech using Google Text-to-Speech service.</p>
    <p>
      The only need is to pass your own developer API key from Google. Google provides free
      service for up to 4 million characters monthly however it does not provide user interface and HTTP requests are
      limited to 5000 characters.
    </p>
    <p>
      This tool is designed to use your own API key to convert large text files or text that contains more than 5000 characters to MP3 files.
    </p>
  </mdb-card>
</div>
